#This file can be used to automatically program STM32F0 Flash memory from the command line
#After programming, the board must be power-cycled (briefly remove the power) for the program to start running

init
  
proc stm_flash {FAMILY IMGFILE} {
	reset halt
	sleep 100

	if { $FAMILY == "f4" } {
		flash write_image erase unlock $IMGFILE 0x08000000 bin
	} else {
		flash write_image erase $IMGFILE 0x08000000
	}

	sleep 100 
	verify_image $IMGFILE 0x08000000
	sleep 100
	reset run
}

proc stm_erase {FAMILY} {
	reset halt
	sleep 100
	stm32${FAMILY}x mass_erase 0
	sleep 100
}
